<footer class="container-fluid">
    <div class="col-md-9">
        <div class="col-md-3">
            <a href="#">Je soutiens</a>
        </div>
        <div class="col-md-6 text-center">
            <figure>
                <img src="./assets/svg/accropolisLogowhite.svg" />
            </figure>
            <nav>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/AccropolisPage/?fref=ts"><img src="./assets/svg/facebook.svg"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Accropolis"><img src="./assets/svg/twitter.svg" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCqv_wXmLSFtTDA39HQaLssQ"><img src="./assets/svg/youTube.svg" /></a>
                    </li>
                    <li>
                        <a href="https://www.twitch.tv/accropolis"><img src="./assets/svg/twitch.svg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./assets/svg/discord.svg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./assets/svg/instagram.svg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./assets/svg/spreadshirt.svg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./assets/svg/snapchat.svg" /></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 text-center">
            <nav>
                <ul class="list-inline">
                    <li><a href="#">Accueil </a></li>
                    <li><a href="#">Vidéo </a></li>
                    <li><a href="#">Programmation </a></li>
                    <li><a href="#">Boutique </a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </nav>
        </div>
    <div class="col-md-12 text-center" id="mentionsLegales">
        <p>Mentions légales: Copyright Accropolis</p>
    </div>
</div>
</footer>
