<header class="container-fluid navbar navbar-fixed-top text-center">
    <div class="col-md-9">

        <figure class="">
            <a href="#">
                <img src="./assets/svg/accropolisLogopink.svg" />
            </a>
        </figure>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                </button>
            </div>
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Accueil</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Programmation</a></li>
                    <li><a href="#">Boutique</a></li>
                    <li><a href="#">À propos</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right"> A DECOMMENTER LORS DE L'IMPLEMENTATION DE L'ESPACE MEMBRE
                        <li><a href="#">S'inscrire</a></li>
                        <li><a href="#"></span>S'identifier<span class="glyphicon glyphicon-user"></a></li>
                    </ul> -->
            </div>
        </nav>
    </div>
</header>
