<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../assets/css/style.css">

    <title>Accropolis | La chaîne de streaming citoyenne</title>
</head>
<body>

    <header>

        <div class="container">

            <figure>
                <img src="../assets/img/accropolisLogopink.svg" />
            </figure>



            <nav class="navbar navbar-inverse">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Accueil</a></li>

                <li><a href="#">Videos</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Boutique</a></li>
                <li><a href="#">Donation</a></li>
                <li><a href="#">A propos</a></li>
            </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">S'inscrire</a></li>
        <li><a href="#"></span>S'identifier<span class="glyphicon glyphicon-user"></a></li>
    </ul> -->
</div>
</nav>
</div>
</header>

<main>
</main>


<footer>

    <div class="container">

        <div class="col-xs-4 col-sm-4 col-lg-4 jeSoutiens">

            <a href="index.html">Je soutiens</a>

        </div>

        <div class="col-xs-4 col-sm-4 col-lg-4 Accropolis">

          <figure>
            <img src="../assets/img/accropolisLogowhite.svg" />
        </figure>

        <nav> 
            <ul class="list-inline">

                <li><a href="index.html"><img src="../assets/img/facebook.svg" /></a></li>

                <li><a href="index.html"><img src="../assets/img/twitter.svg" /></a></li>

                <li><a href="index.html"><img src="../assets/img/youTube.svg" /></a></li>

                <li><a href="index.html"><img src="../assets/img/twitch.svg" /></a></li>

                <li><a href="index.html"><img src="../assets/img/discord.svg" /></a></li>

                <li><a href="index.html"><img src="../assets/img/instagram.svg" /></a></li>

                <li><a href="index.html"><img src="../assets/img/losange.svg" /></a></li>

                <li><a href="index.html"><img src="../assets/img/fantom.svg" /></a></li>

            </ul>
        </nav>

    </div>

    <div class="col-xs-4 col-sm-4 col-lg-4 reseauxSociaux">


        <nav> 
            <ul class="list-inline">

                <li><a href="index.html">Accueil |</a></li>

                <li><a href="index.html">Vidéo |</a></li>

                <li><a href="index.html">Forum |</a></li>

                <li><a href="index.html">Boutique |</a></li>

                <li><a href="index.html">A propos</a></li>

            </ul>
        </nav>

    </div>

    <div  class ="col-xs-12 col-sm-12 col-lg-12" id="mentionsLegales">

    <p> Mentions légales: Copyright Accropolis</p>
       

    </div>

</div>


</footer>

</body>
</html>
