@charset "UTF-8";
.container-fluid {
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a, a:hover, a:visited, a:focus, a:active {
  color: black;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: normal; }

body {
  background-color: rgba(0, 0, 0, 0.7); }
  body main {
    background-color: #fff;
    font-family: "Open Sans"; }
    body main section {
      background-color: #fff;
      font-family: "Open Sans"; }
    body main .AC-firstmain .AC-donation {
      font-family: "Oswald";
      font-size: 21pt;
      padding: 0.5% 2%;
      position: absolute;
      top: 0;
      background-color: #ff991c;
      color: #fff;
      right: 0; }
    body main .AC-firstmain article {
      padding-top: 10%;
      margin-bottom: 3%;
      /* Texte d├®filant */ }
      body main .AC-firstmain article h2 {
        font-family: "Oswald";
        font-size: 21pt;
        padding: 0.5% 2%;
        position: absolute;
        top: 0;
        background-color: #e6027d;
        color: #fff;
        top: 5%;
        left: 0;
        z-index: 3; }
      body main .AC-firstmain article .AC-defileParent {
        display: block;
        margin: 3em auto;
        overflow: hidden;
        position: relative;
        table-layout: fixed;
        width: 100%;
        margin-top: -5%;
        margin-bottom: 4%;
        z-index: 1; }
      body main .AC-firstmain article .AC-defile {
        display: block;
        -webkit-animation: linear appelAction 20s infinite;
        -moz-animation: linear appelAction 20s infinite;
        -o-animation: linear appelAction 20s infinite;
        -ms-animation: linear appelAction 20s infinite;
        animation: linear appelAction 20s infinite;
        margin-left: -100%;
        padding: 0 5px;
        text-align: left;
        height: 40px;
        font-family: "Oswald";
        font-size: 21pt; }
      body main .AC-firstmain article .AC-defile:after {
        content: attr(data-text);
        position: absolute;
        white-space: nowrap;
        padding-left: 10px; }
@-webkit-keyframes appelAction {
  0%,
                    100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
@-moz-keyframes appelAction {
  0%,
                    100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
@-o-keyframes appelAction {
  0%,
                    100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
@-ms-keyframes appelAction {
  0%,
                    100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
@keyframes appelAction {
  0%,
                    100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
    body main .AC-firstmain .AC-live {
      text-align: center; }
      body main .AC-firstmain .AC-live h3 {
        font-family: "Oswald"; }
      body main .AC-firstmain .AC-live a {
        font-weight: bolder;
        color: #e6027d;
        text-decoration: none; }
    body main .AC-main {
      position: relative; }
      body main .AC-main .AC-prognew {
        border-left: 1px solid black;
        /* Texte d├®filant */ }
        body main .AC-main .AC-prognew .AC-bnews {
          padding-right: 3%;
          padding-bottom: 3%; }
          body main .AC-main .AC-prognew .AC-bnews h3 {
            font-family: "Oswald";
            font-size: 21pt;
            padding: 0.5% 2%;
            position: absolute;
            top: 0;
            background-color: #e6027d;
            color: #fff;
            left: -2%;
            z-index: 3; }
        body main .AC-main .AC-prognew .AC-defileParent {
          display: block;
          margin: 3em auto;
          overflow: hidden;
          position: relative;
          table-layout: fixed;
          width: 100%;
          margin-top: 8%;
          margin-bottom: 0%;
          z-index: 1; }
        body main .AC-main .AC-prognew .AC-defile {
          display: block;
          -webkit-animation: linear appelAction 20s infinite;
          -moz-animation: linear appelAction 20s infinite;
          -o-animation: linear appelAction 20s infinite;
          -ms-animation: linear appelAction 20s infinite;
          animation: linear appelAction 20s infinite;
          margin-left: -100%;
          padding: 0 5px;
          text-align: left;
          height: 37px;
          font-family: "Oswald";
          font-size: 21pt; }
        body main .AC-main .AC-prognew .AC-defile:after {
          content: attr(data-text);
          position: absolute;
          white-space: nowrap;
          padding-left: 10px; }
    body main .AC-prog {
      padding-right: 3%;
      padding-bottom: 3%; }
      body main .AC-prog h3 {
        font-family: "Oswald";
        font-size: 21pt;
        padding: 0.5% 2%;
        position: absolute;
        top: 0;
        background-color: #e6027d;
        color: #fff;
        left: -2%; }
    body main .AC-prog-titre {
      padding-right: 3%;
      padding-bottom: 3%;
      text-align: center;
      margin-top: 5%; }
      body main .AC-prog-titre h2 {
        font-family: "Oswald";
        font-size: 1.5em; }
    body main .AC-left {
      height: 33vh; }
      body main .AC-left .AC-discord-title {
        margin-left: 5%;
        padding-bottom: 2%;
        width: 80%;
        border-bottom: 1px solid black; }
        body main .AC-left .AC-discord-title h3 {
          font-family: "Oswald";
          font-size: 21pt;
          color: #7289DA;
          padding: 1.5%; }
  body .AC-replay {
    position: relative;
    margin-top: 3%;
    background: #fff; }
    body .AC-replay h2 {
      font-family: "Oswald";
      font-size: 21pt;
      padding: 0.5% 2%;
      position: absolute;
      top: 0;
      background-color: #e6027d;
      color: #fff;
      left: 0; }
    body .AC-replay .AC-vidreplay {
      margin-top: 7%;
      text-align: center; }
      body .AC-replay .AC-vidreplay .AC-titre-replay {
        color: #e6027d;
        font-weight: bolder; }
      body .AC-replay .AC-vidreplay .AC-date-replay {
        font-weight: bolder; }
    body .AC-replay .AC-pagination {
      margin-top: 3%; }

.AC-Chat {
  position: fixed;
  right: 0;
  height: 100vh;
  background: red; }

/*# sourceMappingURL=style.css.map */
