// Couleurs utilisées //
$action-color: #e6027d;
$don-color: #ff991c;
$bg-color: #e6e6e6;
$bg-section: #fff;
$discord-color: #7289DA;
// Font utilisées //
$font-title: 'Oswald';
$font-body: 'Open Sans';
$font-color: #fff;
$font-size-title: 21pt;
$font-size-text: 10pt;
 // Reclassement
.container-fluid {
    padding: 0;
}
.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: $action-color;
    background-color: white;
    border: none;
}

// CSS RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// DEBUG //
@mixin debug() {
    border: 1px solid red;
}
// MIXIN
@mixin titleRibbon() {
    font-family: $font-title;
    font-size: $font-size-title;
    padding: 0.5% 2%;
    position: absolute;
    top: 0;

    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);

    -moz-box-shadow: 4px 2px 5px 1px #656565;
    -webkit-box-shadow: 4px 2px 5px 1px #656565;
    -o-box-shadow: 4px 2px 5px 1px #656565;
    box-shadow: 4px 2px 5px 1px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=116, Strength=5);
}
// CSS Début
a, a:hover, a:visited, a:focus, a:active{
    color:black;
    text-decoration: none;
    font-family: $font-body;
    font-weight: normal;
}
body {
    background-color: rgba(0,0,0,0.7);

    main{
        background-color: $bg-section;
        font-family: $font-body;
        section {
            background-color: $bg-section;
            font-family: $font-body;
        }

        .AC-firstmain {
            .AC-donation {
                // Titre Je soutiens
                @include titleRibbon();
                font-family: $font-title;
                font-size: $font-size-title;
                background-color: $don-color;
                color: $font-color;
                right: -1%;

                    a{
                        color:white;
                        font-family: $font-title;
                        font-size: $font-size-title;
                    }
            }

            article {
                padding-top: 10%;
                margin-bottom: 3%;

                h2 {
                    // Titre Live ou Rediff
                    @include titleRibbon();
                    background-color: $action-color;
                    color: $font-color;
                    top: 5%;
                    left: -1%;
                    z-index: 3;
                }
                /* Texte défilant */
                .AC-defileParent {
                    display: block;
                    margin: 3em auto;
                    overflow: hidden;
                    position: relative;
                    table-layout: fixed;
                    width: 100%;
                    margin-top: -5%;
                    margin-bottom: 4%;
                    z-index: 1;
                }

                .AC-defile {
                    display: block;
                    -webkit-animation: linear appelAction 20s infinite;
                    -moz-animation: linear appelAction 20s infinite;
                    -o-animation: linear appelAction 20s infinite;
                    -ms-animation: linear appelAction 20s infinite;
                    animation: linear appelAction 20s infinite;
                    margin-left: -100%;
                    padding: 0 5px;
                    text-align: left;
                    height: 40px;
                    font-family: $font-title;
                    font-size: $font-size-title;
                }

                .AC-defile:after {
                    content: attr(data-text);
                    position: absolute;
                    white-space: nowrap;
                    padding-left: 10px;
                }
                @-webkit-keyframes appelAction {
                    0%,
                    100% {
                        margin-left: 0;
                    }

                    99.99% {
                        margin-left: -100%;
                    }
                }
                @-moz-keyframes appelAction {
                    0%,
                    100% {
                        margin-left: 0;
                    }

                    99.99% {
                        margin-left: -100%;
                    }
                }
                @-o-keyframes appelAction {
                    0%,
                    100% {
                        margin-left: 0;
                    }

                    99.99% {
                        margin-left: -100%;
                    }
                }
                @-ms-keyframes appelAction {
                    0%,
                    100% {
                        margin-left: 0;
                    }

                    99.99% {
                        margin-left: -100%;
                    }
                }
                @keyframes appelAction {
                    0%,
                    100% {
                        margin-left: 0;
                    }

                    99.99% {
                        margin-left: -100%;
                    }
                }
                // @media only screen and (max-width: 860px) {
                // .AC-defileParent {
                // 	display: block;
                // 	margin: 3em auto;
                // 	overflow: hidden;
                // 	position: relative;
                // 	table-layout: fixed;
                // 	width: 100%;
                // }
                //
                // .AC-defile {
                // 	display:block;
                // 	-webkit-animation:linear appelAction 15s infinite ;
                // 	-moz-animation:linear appelAction 15s infinite ;
                // 	-o-animation:linear appelAction 15s infinite ;
                // 	-ms-animation:linear appelAction 15s infinite ;
                // 	animation:linear appelAction 15s infinite ;
                // 	margin-left:-100%;
                // 	padding:0 5px;
                // 	text-align:left;
                // 	height:25px;
                // }
                // }
            }

            .AC-live {
                text-align: center;

                h3 {
                    font-family: $font-title;
                    color:$action-color;
                }

                .AC-extend {
                    }
                .AC-extend:hover{
                        fill:$action-color;
                }
            }
        }

        .AC-main {
            position: relative;

                .AC-prognew {
                    border-left:1px solid black;

                    .AC-bnews {
                        padding-right: 3%;
                        padding-bottom: 3%;

                        h3 {
                            @include titleRibbon();
                            background-color: $action-color;
                            color: $font-color;
                            left: -3%;
                            z-index: 3;
                        }
                    }
                    /* Texte défilant */
                    .AC-defileParent {
                        display: block;
                        margin: 3em auto;
                        overflow: hidden;
                        position: relative;
                        table-layout: fixed;
                        width: 100%;
                        margin-top:8%;
                        margin-bottom: 0%;
                        z-index: 1;
                    }

                    .AC-defile {
                        display: block;
                        -webkit-animation: linear appelAction 20s infinite;
                        -moz-animation: linear appelAction 20s infinite;
                        -o-animation: linear appelAction 20s infinite;
                        -ms-animation: linear appelAction 20s infinite;
                        animation: linear appelAction 20s infinite;
                        margin-left: -100%;
                        padding: 0 5px;
                        text-align: left;
                        height: 37px;
                        font-family: $font-title;
                        font-size: $font-size-title;
                    }

                    .AC-defile:after {
                        content: attr(data-text);
                        position: absolute;
                        white-space: nowrap;
                        padding-left: 10px;
                    }
                }

            }

            .AC-prog {
                padding-right: 3%;
                padding-bottom: 3%;

                h3 {
                    @include titleRibbon();
                    background-color: $action-color;
                    color: $font-color;
                    left: -2%;
                }
            }

            .AC-prog-titre {
                padding-right: 3%;
                padding-bottom: 3%;
                text-align: center;
                margin-top: 5%;

            figure{
                border-right:1px solid black;
                    p {
                        font-family: $font-title;
                        font-size: 1.5em;
                    }
                }
            }

            .AC-left {
                height: 33vh;

                    .AC-discord-title {
                        margin-left: 5%;
                        padding-bottom: 2%;
                        width: 80%;
                        border-bottom: 1px solid black;

                        h3 {
                            font-family: $font-title;
                            font-size: $font-size-title;
                            color: $discord-color;
                            padding: 1.5%;
                        }
                    }
                }
            }

        .AC-replay {
            position: relative;
            margin-top: 3%;
            background: $bg-section;

            h2 {
                @include titleRibbon();
                background-color: $action-color;
                color: $font-color;
                left: -1%;
            }

            .AC-vidreplay {
                margin-top: 7%;
                text-align: center;

                .AC-titre-replay {
                    color: $action-color;
                    font-weight: bolder;
                }

                .AC-date-replay {
                    font-weight: bolder;
                }
            }

            .AC-pagination {
                margin-top: 3%;
            }

        }

    }

    .AC-Chat{
        position:fixed;
        right:0;
        height:100vh;
        background:red;
    }
